
body {
  background:#d5d1ce;
  width: 70%;
  margin: auto;
  font-family: sans-serif;
}
.left {
  float: left;
  width: 50%;
  background: #9f7860;
  margin-left: 8px;

}
.right {
  float: right;
  width: 50%;
  background: #ab5473;
  margin-left: 8px;

}
blockquote {
  border: 1px solid white ;
  border-color:solid white;
  text-align: center;
}
